*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/* master-conteiner */
#master-conteiner{
    max-width: 1200px;
    margin:auto;
    padding: 25px 15px;
}
/*  */
/* HEADER */
header{
    height: 100px;
    padding: 5px;
    border-right:solid 0.5px grey;
    width: 220px;
}
#logo-conteiner{
    width: 200px;
    height: 90px;
    background-image: url(./img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/*  */
/* NAV */
nav{
    height:50px;
    padding: 15px;
}
nav>ul{
    list-style:none;
    font-size: 25px;
}
nav>ul>li{
    display: inline-block;
    margin-right: 15px;
}
/*  */
/* full-sixe-conteiner */
#full-size-conteiner{
    margin:25px 0;
    height: 500px;
    background-image: url(./img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border-radius: 15px;
}
#full-size-conteiner-opacity{
    background-color:rgba(139, 115, 115, 0.3); 
    height: 100%;
    width: 100%;
    padding: 40px;
    border-radius: 15px;
}
#full-size-conteiner-opacity>p{
    font-size: 25px;
}
#full-size-conteiner-opacity>h1,#full-size-conteiner-opacity>p{
    position: relative;
    top:300px;
    width: 650px;
}
/*  */
/* layout */
#layout{
    height: 900px;
    margin:25px 0;
}
#layout::after{
    content: "";
    display: table;
    clear: both;
}
#layout-top{
    height: 100px;
    padding: 15px;
}
#layout-left{
    float: left;
    height: 800px;
    width: 25%;
    padding:15px 15px 15px 0px;
}
#layout-left>.logo{
    width: 100%;
    height: 250px;
    background-image: url(./img/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo>div{
    background-color:rgba(139, 115, 115, 0.3); 
    height: 100%;
    width: 100%;
    padding: 40px;
    border-radius: 15px;
}
#layout-center{
    float: left;
    height: 800px;
    width: 50%;
    padding: 15px 15px 15px 15px ;
}
#layout-center>.logo{
    width: 100%;
    height: 250px;
    background-image: url(./img/banner-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
}
#layout-right{
    float: right;

    height: 800px;
    width: 25%;
    padding: 15px 0px 15px 15px;
}
#layout-right>.logo{
    width: 100%;
    height: 250px;
    background-image: url(./img/img-3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
}
/*  */
/* FOOTER */
footer{
    height: 50px;
    text-align: center;
    line-height:50px;   
}
footer span{
    color: red;
}
/*  */